<html>
 
<head></head>
 
<body>
    <p>Dear ${personName},</p>
    <p>This is in regards with the password reset of {userName}. As per the process, you will have to force change of password by clicking <a href ="${resetLink}">here</a>. </b></p>
    <p>Thanks</p>
    <p>Ascent Technology Consultants<br>Office: 409, C wing, Kailash Business Park, <br> Hiranandani Link road, Vikroli (W), Mumbai - 400076. <br> www.ascentbusiness.com
    </p>
</body>
 
</html>