<html>
 
<head></head>
 
<body>
    <p>Dear ${personName},</p>
    <p>It has been exactly ${gracePeriod} days sinceyou have logged-in to the application due to which the account has been inactivated. Requesting you to please activate the account by clicking <a href ="${resetLink}">here</a>.   </b></p>
    <p>Thanks</p>
    <p>Ascent Technology Consultants<br>Office: 409, C wing, Kailash Business Park, <br> Hiranandani Link road, Vikroli (W), Mumbai - 400076. <br> www.ascentbusiness.com
    </p>
</body>
 
</html>